@model RegisterViewModel
<head>
    <link href="~/styles/app.css" rel="stylesheet" type="text/css" />
</head>
<form asp-controller="Auth" asp-action="Register" method="post">
    <input type="hidden" asp-for="ReturnUrl">
    <div class="header">Sign Up</div>
    <div class="field">
        <input asp-for="Username" class="input" placeholder="Username">
        <span asp-validation-for="Username"></span>
    </div>
    <div class="field">
        <input asp-for="Password" class="input" placeholder="Password">
        <span asp-validation-for="Password"></span>
    </div>
    <div class="field">
        <input asp-for="ConfirmPassword" class="input" placeholder="Confirm Password">
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="field">
        <button type="submit" class="button">Sign Up</button>
    </div>
    <a asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="switch-button">
        Sign In
    </a>
</form>